.container_for_homepage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    left: 0;
    background-color: #8fd9e4;
    height: 750px;
    margin-left: 90px;
    margin-top: 60px;
    width: 95%;
    gap: 1rem;
    scroll-behavior: auto;
}