
.navbaritem_container {
    display: none;
}

@media only screen and (min-width: 750px  ) {
    .navbaritem_container {
        width: 5%;
        background-color: #0c6aa7;
        height: 100%;
        position: fixed;
        display: flex;
        flex-direction: column;
        padding-top: 15%;
        justify-content: space-between;
        left: 0;
    }

    .navbaritem_icon {
        color: black;
        padding-left: 25px;
        width: 20px;
        height: 20px;
    }

    .navbar_close {
        width: 25px;
        margin: 20px;
    }
}
