.card_container {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
    margin-top: 30px;
    justify-content: flex-end;
    border: 1px solid;
    border-radius: 10px;
    margin-bottom: 50px;
}
    

.card_img {
    height: 250px;
    width: 250px;
}

.button_for_card {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.edit_button_for_card {
    background: aquamarine;
    width: 60px;
    height: 30px;
    border-radius: 5px;
}

.delete_button_for_card {
    background: red;
    width: 60px;
    height: 30px;
    border-radius: 5px;
}

.rent_button_for_card {
    width: 100px;
    height: 30px;
    background: aqua;
    border-radius: 5px;
}

@media only screen and (min-width: 750px  ) {

    .card_container { 
        width: 400px;
    }

    .card_img_container {
        display: flex;
        width: 200px;
        height: 200px;
    }

    .card_img {
        display: flex;
        width: 300px;
        height: 300px;
        justify-content: flex-start;
    }

    .card_description {
        margin-top: 10px;
        display: flex;
        font-family: Arial;
        align-items: center;
        justify-content: center;

    }

    .card_title {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Arial;
    }

    .card_author {
        display: flex;
        font-family: Arial;
        flex-wrap: wrap;
    }

    .button_for_card {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .edit_button_for_card {
        background: aquamarine;
    }
    
    .delete_button_for_card {
        background: red;
    }

}

