
.card_container {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 265px;
    height: 400px;
    margin: 25% 2%;
    border-radius: 10px;
}

.card_img {
    display: flex;
    margin-left: 22px;
    margin-top: 10px;
    width: 200px;
    height: 200px;
}

.card_titles {
    margin-top: 20px;
    margin-left: 5px;
}

@media only screen and (min-width: 750px  ) {
    .card_container {
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        width: 265px;
        height: 400px;
        margin: 4%;
        border-radius: 10px;
    }
}
