
.main_page_container {
    padding-top: 40px;
}

@media only screen and (min-width: 750px  ) {

    .main_page_container {
        background-color: #8fd9e4;
        height: 900px;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 60px;
        padding-top: 0;
    }
}
