
.main_page_container {
    padding-top: 40px;
}

@media only screen and (min-width: 750px  ) {

    .main_page_container {
    width: 90%;
    background-color: #8fd9e4;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    margin-left: auto;
    }

    .button_for_create_book {
        position: absolute;
        right: 0;
    }
}
