.content {
  margin-left: 50px;
  background-color: lightslategrey;
  z-index: 2;
  width: 450px;
  height: 800px;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.5);
  display: block;
  margin-left: 600px;
  margin-top: 100px;
}

.heder_modal {
  display: flex;
  justify-content: flex-end;
}

.x_icon_for_modal {
  width: 30px;
  height: 30px;
}

.x_button_for_modal {
  width: 40px;
  height: 40px;
  background-color: white;
  display: block;
  background-color: lightslategrey;
  border: none;
}



.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.container_for_element {
  position: relative;
}

.input_for_title {
  margin-left: 90px;
  margin-top: 50px;
  width: 260px;
  height: 40px;
  border-radius: 5px;
}

.input_for_description {
  margin-left: 90px;
  margin-top: 50px;
  width: 260px;
  height: 40px;
  border-radius: 5px;
}

.input_for_isbn {
  margin-left: 90px;
  margin-top: 50px;
  width: 260px;
  height: 40px;
  border-radius: 5px;
}

.input_for_quantity {
  margin-left: 90px;
  margin-top: 50px;
  width: 260px;
  height: 40px;
  border-radius: 5px;
}

.input_for_date {
  margin-left: 90px;
  margin-top: 50px;
  width: 260px;
  height: 40px;
  border-radius: 5px;
}

.input_for_image {
  margin-left: 90px;
  margin-top: 50px;
  width: 260px;
  height: 40px;
  border-radius: 5px;
}

.select_for_authors {
  margin-left: 90px;
  margin-top: 50px;
  width: 260px;
  height: 40px;
  border-radius: 5px;
}

.submit_button_for_modal {
  margin-left: 160px;
  margin-top: 50px;
  width: 120px;
  height: 30px;
}