.container_for_bookList {
    width: 100%;
    gap: 50px;
    display: flex;
    height: 90%;
    background-color: #8fd9e7;
    top: 60px;
    left: 70px;
    padding: 40px;
    flex-wrap: wrap;
    margin-left: 150px;
}

.no_available_message {
    width: 200px;
}