.header_container {
    background-color: #0c6aa7;
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
}

::placeholder {
    text-align: center;
}

.header_input_search {
    height: 45%;
    width: 50%;
    border-radius: 5px;
    border-block-color: #efd5a4;
    margin-left: 20px
}

.logout_button {
    position: fixed;
    right: 10px;
    background: #8fd9e4;;
    border-radius: 10px;
    border-color: black;
}

@media only screen and (min-width: 750px  ) {

    .header_input_search {
        width: 25%;
    }

    .header_container {
        display: flex;
        background-color: #0c6aa7;
        border-bottom: solid 2px black;
    }

    .logout_button {
        position: fixed;
        right: 10px;
        background: #f23427;
        border-radius: 10px;
        border-color: black;
    }

    .button_for_navbar {
        border: none;
        background: #0c6aa7;
    }

    .icon_for_navbar {
        height: 30px;
        width: 30px;
    }
}