.navbar_container {
    display: none;
}
 .navbar_icon {
    position: relative;
    top: 0%;
    width: 50px;
    height: 100%;
    background-color: wheat;
 }


@media only screen and (min-width: 750px  ) {

    .navbar_container {
        background-color: wheat;
        width: 50px;
        display: flex;
        position: fixed;
        height: 100%;
    }
    
} 