
.button_footer {
    border: none;
    background: #0c6aa7;
}

.footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #0c6aa7;
    left: 0;
}

.navbar_item_button_login {
    border: none;
    background: #0c6aa7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_logout {
    border: none;
    background: #0c6aa7;
    margin-right: 50px;
}

.button_star {
    border: none;
    background: #0c6aa7;
    margin-left: 50px;
}

.button_home {
    border: none;
    background: #0c6aa7;
    margin-left: 50px;
}

.button_login {
    position: absolute;
    right: 20px;
    border: none;
    background: #0c6aa7;
    top: 15px;
}

@media only screen and (min-width: 750px  ) {
    .footer {
        display: none;
    }
}