
.navbar_item_container {
    display: none;
}

@media only screen and (min-width: 750px  ) {
    .navbar_item_container {
        background-color: #0c6aa7;
        height: 100%;
        position: fixed;
        display: flex;
        flex-direction: column;
        padding-top: 70px;
        align-content: center;
        justify-content: flex-start;
        left: 0;
        top: 0;
        border-right: solid 3px black;
        width: 90px;
    }

    .logout_button {
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        right: 10px;
        background: #d6f3f8;
        border-radius: 10px;
        border-color: black;
        width: 40px;
        height: 40px;
    }

    .navbar_item_button_logout {
        margin: 20px;
        border-radius: 10px;
        border-color: black;
        background: #d6f3f8;
        width: 50px;
        height: 40px;
    }

    .navbar_item_button_login {
        margin: 20px;
        border-radius: 10px;
        border-color: black;
        background: #d6f3f8;
        width: 50px;
        height: 40px;
    }

    .navbar_item_button {
        background-color: #0c6aa7;
        border: none;
        margin: 20px;
    }
    .navbar_close {
        width: 25px;
        margin: 20px;
    }
}